<div class="container-fluid vh-100">
    <app-nav></app-nav>
    <div class="row">
      <div class="col d-flex flex-column align-items-center justify-content-center">
        <div><h1>Welcome to Doctors</h1></div>
        <div>
          <form #form="ngForm" autocomplete="off" (submit)="insertRecord(form)">
            <div class="form-group">
              <label for="dName">Name</label>
              <input name="DoctorName" id="dName" #DoctorName="ngModel" [(ngModel)]="objService.doctorData.doctorName"
              class="form-control" placeholder="Name" required>
              <div *ngIf="DoctorName.invalid && DoctorName.touched" class="bg-warning">
                Please Enter the Name</div>
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-large" type="submit" [disabled]="form.invalid">
                    <i class="fa fa-database"></i>
                    Update Data
                </button>
            </div>
        </form>
        </div>
      </div>
      <div class="row" *ngIf="addSpec">
        <div class="col d-flex flex-column align-items-center justify-content-center">
          <div><h1>Doctor Specializations</h1></div>
          <div>
            <form #form="ngForm" autocomplete="off" (submit)="insertSpec(form)">
              <div class="form-group">
                <label for="dId">Doctor Id</label>
                <input name="DoctorId" id="dId" #DoctorId="ngModel" [(ngModel)]="serve.dsData.doctorId"
                class="form-control" placeholder="Id" type="number" required>
                <div *ngIf="DoctorId.invalid && DoctorId.touched" class="bg-warning">
                  Please Enter the Id</div>
              </div>
              <div class="form-group">
                <label for="sCode">Specialization Code</label>
                <input name="SpecializationCode" id="sCode" #SpecializationCode="ngModel" [(ngModel)]="serve.dsData.specializationCode"
                class="form-control" placeholder="Name" required>
                <div *ngIf="SpecializationCode.invalid && SpecializationCode.touched" class="bg-warning">
                  Please Enter the Code</div>
              </div>
              <div class="form-group">
                <label for="sDate">Surgery Date</label>
                <input name="SurgeryDate" id="sDate" #SurgeryDate="ngModel" [(ngModel)]="serve.dsData.specializationDate"
                class="form-control" placeholder="YYYY/MM/DD" type="date" required>
                <div *ngIf="SurgeryDate.invalid && SurgeryDate.touched" class="bg-warning">
                  Please Enter the Date</div>
              </div>
              <div class="form-group">
                  <button class="btn btn-primary btn-large" type="submit" [disabled]="form.invalid">
                      <i class="fa fa-database"></i>
                      Update Data
                  </button>
              </div>
          </form>
          </div>
        </div>
    </div>
</div>