.div-pos {
    position: relative;
  }
  
  .le {
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
  }
  
  .re {
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px;
  }