<div class="container-fluid vh-100">
  <app-nav></app-nav>
  <div class="row mt-5">
    <div class="col d-flex flex-column align-items-center justify-content-center">
      <div *ngIf="!clicked">
        <div class="text-center"><h1>Specializations</h1></div>
        <table class="table text-center table-hover table-dark">
          <thead>
            <tr>
              <th>Specialization Code</th>
              <th>Specialization Name</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let s of specService.specList.slice((currentPage-1)*recordsPerPage, currentPage*recordsPerPage)">
              <td>{{s.specializationCode}}</td>
              <td>{{s.specializationName}}</td>
              <td (click)="docClick(s)"><button class="btn btn-info" type="button">Get Doctors</button></td>
            </tr>
          </tbody>
        </table>
        <div class="div-pos">
          <button class="btn btn-primary le" (click)="prevPage()" [disabled]="currentPage===1">
            Previous<i class="bi bi-chevron-compact-left"></i>
          </button>
          <button class="btn btn-primary re" (click)="nextPage()" [disabled]="currentPage*recordsPerPage>=specService.specList.length">
            Next<i class="bi bi-chevron-compact-right"></i>
          </button>
        </div>
      </div>
      <div *ngIf="clicked">
        <div class="text-center"><h1>Doctors</h1></div>
        <table class="table text-center table-hover table-dark">
          <thead>
            <tr>
              <th>Doctor ID</th>
              <th>Doctor Name</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let ds of docSpecService.docList.slice((currentPage-1)*recordsPerPage, currentPage*recordsPerPage)">
              <td>{{ds.doctorId}}</td>
              <td>{{ds.doctorName}}</td>
            </tr>
          </tbody>
        </table>
        <div class="div-pos">
          <button class="btn btn-primary le" (click)="prevPage()" [disabled]="currentPage===1">
            Previous<i class="bi bi-chevron-compact-left"></i>
          </button>
          <button class="btn btn-primary re" (click)="nextPage()" [disabled]="currentPage*recordsPerPage>=docSpecService.docList.length">
            Next<i class="bi bi-chevron-compact-right"></i>
          </button>
          <button class="btn btn-primary mt-5 middle" (click)="GoBack()">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>