<div class="container-fluid vh-100">
    <app-nav></app-nav>
    <div class="row">
      <div class="col d-flex flex-column align-items-center justify-content-center">
        <div><h1>Please Select to Add Details</h1></div>
        <div>
          <button type="button" (click)="gotoDoctor()">Add Doctor</button>
          <button type="button" (click)="gotoSurgery()">Add Surgery</button>
          <button type="button" (click)="gotoSpec()">Add Specialization</button>
        </div>
      </div>
    </div>
</div>